.title {
	margin: 0px 0px 30px 0px;
}

.subtitle {
    padding: 5px 10px;
    background-color: #3B5998;
    color: white;
    font-weight: bold;
    margin: 25px 0px 20px 10px;
}

.groupButtons {
	height: 80px;
	border-top: 1px #DDDDDD solid;
	margin-top: 50px;
	background-color: #F5F5F5;
}

#buttonSave {
	float: right; 
	width: 94px;
	margin: 25px 10px 25px 0px; 		
}

#buttonBack {
	float: right;
	width: 64px;
	margin: 25px 10px 25px 0px;
}